#pie-chart {
    justify-self: center;
    height: 90%;
    width: 90%;
    border-width: 0px;
    grid-column: 3;
    grid-row: 1;
    font-weight: 600;
    font-style: italic;
    color: aliceblue !important;
  }